body {
	background-image: url(resources/doft.jpg);
	background-color: rgb(85, 85, 85);
	background-position-y: -77px;
	background-repeat: no-repeat;
	margin: 17px 0 0 10px;
}

#rCorners {
	border-radius: 10px;
	background: rgb(144,144,144);
	box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.699);
}
#greenRounded {
	border-radius: 10px;
	background: rgb(136, 255, 137);
	box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.699);
}
.everything {
	opacity: 1;
}

.header	{
	width: 1420px;
	height: 137px;
	position: relative;
	padding: 20px 0 px 0;
	margin-left: 228px;
}

.header img.logo {
	height: 110px;
	margin: 12px 0 0 10px;
}

.header img.glass {
	right: 30px;
	top: 10px;
	position: absolute
}

.header img.refresh {
	position: absolute;
	top: 10px;
	right: 11px;
	height: 20px;
}

.header img.close
{
	position: absolute;
	top: 109px;
	right: 11px;
	height: 20px;
}

.leftbar {
	width: 108px;
	height: 410px;
	float: left;
	margin: 21px 0 0 258px;
	padding: 15px 0 0 32px;
}

.leftbar img.select {
	border: 5px solid red;
	margin: -5px 0 1px -5px;
	border-radius: 5px;
}

.leftbar img.first {
	height: 70px;
	margin-bottom: 6px;
}

.leftbar img.second {
	height: 65px;
	margin-bottom: 6px;
}

.middlebar {
	float: left;
	width: 1020px;
	height: 582px;
	margin: 21px 50px 0 30px;
}

.middlebar img {
	width: 1000px;
	margin: 10px 10px 10px 10px;
}

.rightbar {
	width: 108px;
	height: 410px;
	float: left;
	margin: 21px 0 0 -20px;
	padding: 15px 0 0 32px;
}

.rightbar img.book {
	width: 70px;
	margin-left: 3px;
}
.rightbar img.towel {
	width: 70px;
	margin-left: 3px;
	margin-top: 5px;
}
.rightbar div.brick {
	background-image: url("resources/brick.jpg");
	width: 120px;
	height: 70px;
	margin: 3px 0 0 -22px;
}

.form {
	border-radius: 10px;
	width: 500px;
	height: 150px;
	position: absolute;
	padding: 10px;
	margin: 527px 0 0 183px;
	font-family: arial;
	font-size: 16px;
	font-stretch: expanded;
	letter-spacing: 1px;
	font-weight: 300;
}

.form span {
	margin: 0px 0 0 0px;
}

.form span.big {
	font-family: 'Times New Roman', Times, sans-serif;
	font-size: 31.1px;
	letter-spacing: 4px;
	font-weight: 500;
}

div.form span.italic
{
	font-style: italic;
	letter-spacing: 0.9px;
}

div.form span.shadow
{
	text-shadow: 5px 5px 5px #ff0000;
}

div.form input[type="text"]
{
	margin-left: 2px;
	width: 376px;
	height: 15px;
	border: 2px solid #9d969d;
	border-bottom-color: #eeeeee;
	border-right-color: #eeeeee;
}

div.form input[type="submit"]
{
	height: 20px;
	background-color: #f4eff3;
   	border-radius: 1px;
	border: 1px solid #a8a4a5;
	margin-left: 2px;
	margin-top: 4px;
	font-size: 	12px;
	letter-spacing: 1.4px;
	background: linear-gradient(#f4eff3, #dcdcdc);
}